body .text-info {
    color: white !important;
    background-color: #4f6792 !important;
}
body .text-danger {
    background-color: aquamarine !important;
}
.fa-arrows:before{content: "\f255";}
.o_list_number{text-align: left; white-space: nowrap;}
.o_list_view{text-align: left; white-space: nowrap;}